<div class="col-12 col-md-6">

    <div class="card mb-2">
      <div class="card-body">
        <form action="{% url 'sns:create_comment' posting.id %}" method="POST">
          {% csrf_token %}
          <label for="comment">leave comment</label>
          <input type="text" name="content" id="comment" class="form-control">
        </form>
      </div>
    </div>

    <div class="card">
      <ul class="list-group list-group-flush">
        {% if comments %}
            {% for comment in comments %}
            <li class="list-group-item mb-1">익명{{ forloop.counter }}: {{ comment.content }}
            
            
            <form action="{% url 'sns:delete_comment' posting.id comment.id%}" method="POST">
                {% csrf_token %}
                    <button>
                        <i class="fas fa-trash"></i>
                    </button>
            </form>
            
            </li>
            {% endfor %}
        {% else %}
             <li class="list-group-item mb-1">No comment</li>
        {% endif %}
       
        
      </ul>
    </div>

</div>