div {
    border: solid 1px black;
    padding: 10px 1px 10px 10px;  /*시계방향*/
    margin: 10px /*상하좌우 전부 10px*/
}

div.a {
    border-style: dotted;
    border-color: red;
    border-width: 2px;
    padding: 20px;
    /* 상하 좌우 */
    margin: 50px 30px;  
}

div.like-p {
    margin: 1em 0;
}