{% extends 'classroom/base.html' %}

{% block title %}Edit{% endblock title %}

{% block body %}
    <form action="{% url 'classroom:update' student.id %}" method="POST">
        {% csrf_token %}
        <div>
            <label for="name">Name</label>
            <input id="name" type="text" name="name">
        </div>
        <div>
            <label for="age">Age</label>
            <input id="age" type="text" name="age">
        </div>
            <label for="major">Major</label>
            <input id="major" type="text" name="major">

        <div>
            <input type="submit" value="EDIT">
        </div>
    </form>

{% endblock body %}

