
{% extends 'base.html' %}
{% block title %}Article detail{% endblock %}

{% block body %}
    <h1>{{ article.title }}</h1> <!-- views. 에서 넘겨줬기 때문에 바로 받아올 수 가 있다. 객체 하나이기 때문에-->

    <div>
        <small>created: {{ article.created_at }}</small>
        <small>created: {{ article.update_at }}</small>
    </div>

    <p>
        {{ article.content }}
    </p>
    <div>
        <!--a b 순서이다 ㅎ-->
        <a href="{% url 'board:edit_article' article.id %}"> 
        <!-- 가변 처리해야하는 부분은 처리해줘야한다. -->
        {% comment %} <a href="/board/articles/{{ article.id }}/edit"> {% endcomment %}
            <button>수정</button>
        </a>
    </div>
    <div>
        {% comment %} <a href="{% url 'board:delete' article.id %}">
            <button>Delete</button>
        </a>
        <!--GET 요청 / a 태그는 GET 요청밖에 하지 못한다.--> 
        데이터 베이스를 건드는 것은 POST 라고 했는데... 
        {% endcomment %}
        
        <form action="{% url 'board:delete_article' article.id %}" method="POST">
            {% csrf_token %}  
            <input id="delButton" type="submit" value="삭제">
        </form>
    </div>

    <hr>

    {% include 'board/_comment.html' %}
    
    
    <!--자바스크립드st-->
    {% comment %} <script>
        const deleteButton = document.querySelector('#delButton');
        function writeHi () {
            document.write('Hi');
            
        }
        delButton.addEventListener('mouseover', writeHi);
    </script> {% endcomment %}
{% endblock %}