{% extends 'board/base.html' %}
{% block title %}Article list{% endblock title%}

{% block body %}
<h1>This is Article list</h1>

<a href="{% url 'board:new' %}">New article</a>

<ul>
    {% for article in articles %} <!-- [<A1>, <A2>, ...] / list 니깐 하나씩 꺼내야한다. -->
        <li>
            {% comment %} <a href="{% url 'board:detail' article.id %}"> {% endcomment %}
            <a href="{{ article.get_absolute_url }}">
                {{ article.title }}</a>
        </li> <!-- <A1> -->
    {% endfor %}
</ul>
{% endblock %}